.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  font-size: 2.5em;
  margin: 0;
}

.App-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.App-header li {
  margin: 0 15px;
  cursor: pointer;
}

.App-header li:hover {
  text-decoration: underline;
}